#search-results {
  hr {
    width: 157px;
    display: none;

    opacity: 0.5;
    border: 1px solid #9cafc3;

    margin-top: 35px;
    margin-bottom: 43px;
  }

  h2 {
    text-align: center;

    margin-bottom: 38px;

    font-size: 25px;
    font-weight: 600;

    color: var(--purpleBlue-color-text);
  }

  #search-results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 156px);
    grid-gap: 10px;
    justify-content: center;
    .search-results-styles {
      width: 156px;
      height: 120px;
    }
  }

  button {
    display: none;
    margin: 0 auto;

    margin-top: 78px;
    margin-bottom: 79px;

    width: 127px;
    height: 50px;

    border-radius: 25px;
    border: 1px solid var(--purpleBlue-color-text);

    background-color: transparent;

    font-size: 13px;
    font-weight: bold;
    color: var(--purpleBlue-color-text);

    cursor: pointer;
  }
}

/******************************************************************************/

/***** DESKTOP VERSION ******/

@media screen and (min-width: 1024px) {
  #search-results {
    hr {
      width: 338px;
  
  
      margin-top: 55px;
      margin-bottom: 43px;
    }
  
    h2 {
      text-align: center;
  
      margin-bottom: 38px;
  
      font-size: 35px;
      font-weight: 600;
  
      color: var(--purpleBlue-color-text);
    }
  
    #search-results-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 260px);
      grid-gap: 31px;
      justify-content: center;
      margin-left: 17px;
      margin-right: 17px;
      .search-results-styles {
        width: 260px;
        height: 200px;
      }
    }
  
    
  }
};