/***** MOBILE VERSION ******/

#cover-page {
  padding-top: 95px;

  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;

    color: var(--purpleBlue-color-text);

    text-align: center;

    width: 76.3%;

    margin: 0 auto;
    margin-top: 2px;

    span {
      color: var(--green-words);
    }
  }

  figure {
    width: 72.8%;
    max-width: 400px;
    height: 10.8%;

    margin: 0 auto;
    margin-top: 25px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .passive-styles {
    input {
      display: block;
      margin: 0 auto;

      background: var(--body-Background);
      border: 1px solid var(--searchBorder-color);
      border-radius: 27px;

      width: 80%;
      max-width: 550px;
      height: 50px;

      padding-left: 30px;

      &::placeholder {
        padding-left: 25px;

        font-family: "Montserrat", sans-serif;
        font-size: 15px;
      }
    }

    #searchIcon {
      width: 20px;
      height: 20px;

      position: relative;
      bottom: 37px;

      margin-left: 82%; //86%

      cursor: pointer;
    }

    #recommendations {
      display: none;
    }
  }
}

.active-styles {
  margin: 0 auto;
  margin-top: 0px;

  background: var(--body-Background);
  border: 1px solid var(--searchBorder-color);
  border-radius: 27px;

  width: 80%;
  max-width: 550px;

  input {
    display: block;
    margin: 0 auto;

    background: var(--body-Background);
    border: none;
    border-bottom: 1px solid rgb(167, 167, 167);

    width: 80%;
    max-width: 550px;
    height: 50px;

    padding-left: 5px;

    color: var(--black-color-for-words);

    &::placeholder {
      padding-left: 25px;

      font-family: "Montserrat", sans-serif;
      font-size: 15px;
    }
  }
  #searchIcon {
    width: 20px;
    height: 20px;

    position: relative;
    bottom: 37px;

    margin-left: 82%; //86%

    cursor: pointer;
  }

  #recommendations {
    margin: 0 auto;
    margin-top: -7px;

    width: 86%;
    max-width: 550px;

    color: rgb(167, 167, 167);

    display: block;

    .suggestionCreated {
      margin: 20px;
      margin-left: 0px;

      cursor: pointer;

      .searchIconGray {
        margin-right: 8px;

        font-family: "Montserrat", sans-serif;
        font-size: 15px;
      }
    }
  }
}
/** **/

#trending {
  width: 62.9%;
  height: 6.2%;

  margin: 0 auto;
  margin-top: 0px;

  text-align: center;

  line-height: 25px;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;

  h2 {
    color: var(--purpleBlue-color-text);

    font-size: 16px;
    font-weight: 700;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 0px;

    li {
      margin-left: 5px;

      a {
        text-decoration: none;
        color: var(--purpleBlue-color-text);

        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 15;
      }
    }
  }
}

/******************************************************************************/

/***** TABLET VERSION ******/
/* @media screen and (min-width: 670px) {
  #searchBox {
    #searchIcon {
      bottom: 37px;
      
      margin-left: 0px;
    }
  }
} */

/******************************************************************************/

/***** DESKTOP VERSION ******/

@media screen and (min-width: 1024px) {
  #cover-page {
    padding-top: 180px;

    h2 {
      font-size: 35px;
      font-weight: 700;
      line-height: 50px;

      width: 40.9%;
    }

    #searchBox {
      input {
        width: 81.3%;

        height: 50px;

        position: relative;
        z-index: 5;

        &::placeholder {
          padding-left: 55px;

          font-size: 14px;
        }
      }
    }

    .passive-styles {
      #searchIcon {
      
        margin-left: 68%; //86%
  
        z-index: 5;
      }
    }
  
    .active-styles {
      #searchIcon {
        margin-left: 86%; //86%
  
        z-index: 5;
      }
    }
  }
  /** **/
  
  /** **/

  #trending {
    width: 62.9%;
    height: 6.2%;

    margin: 0 auto;
    margin-top: 30px;

    text-align: center;

    h2 {
      font-size: 16px;
      font-weight: 700;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      width: fit-content;

      margin: 0 auto;
      margin-top: -15px;

      li {
        margin-left: 5px;

        a {
          text-decoration: none;

          font-weight: 500;
          font-size: 16;
        }
      }
    }
  }
}
