#trendings-results-container {
  
  /* #img-trend-content {
   
  } */
  #modal-trends {
    display: block;
    opacity: 0.7;
    background: #572ee5;

    position: relative;
    z-index: 9;
    top: -275px;
    height: 273px;

    #icons-result-modalTrends {
      position: relative;
      z-index: 10;
      top: 5px;
      right: 5px;
      display: flex;
      justify-content: flex-end;

      .figure-icons-modalTrends {
        opacity: 0.7;
        background: #ffffff;
        border-radius: 6px;
        border-radius: 6px;
        width: fit-content;

        width: 32px;
        height: 32px;

        display: flex;
        justify-content: center;

        margin: 5px;
        cursor: pointer;
      }
    }

    #caption-results-modalTrends {
      position: relative;
      z-index: 10;
      top: 120px;

      margin-left: 20px;

      #userCaptionTrends-id {
        margin-top: 5px;
        margin-bottom: 6px;
        font-size: 15px;
        color: #ffffff;
      }

      #tituloCaptionTrends-id {
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
      }
    }
  }
}


/******************************************************************************/

/***** DESKTOP VERSION ******/
@media screen and (min-width: 1024px) {
  
}