/***** MOBILE VERSION ******/

#trendingGIFOS {
  background: var(--background-TrendingGIFOS);
  margin-top: 30px;

  h2 {
    text-align: center;

    color: var(--purpleBlue-color-text);

    padding-top: 30px;
  }

  p {
    width: 88.8%;

    margin: 0 auto;
    margin-top: 10px;

    text-align: center;

    color: var(--black-color-for-words);
  }

  #trendings-results-container {
    display: flex;

    overflow-x: scroll;

    .trending-results-styles {
      width: 243px;
      height: 187px;

      margin-left: 22px;
      margin-right: 22px;
    }
  }
}

/******************************************************************************/

/***** DESKTOP VERSION ******/
