/* variables for sizes of the screen */
$min-desk-size: 1000px;

:root {
    /* Variables for the colors */
    --bar-color: #000000;
    --purpleBlue-color-border:#000000;
    --purpleBlue-color-text:#ffffff;
    --green-words: #50E3C2;
    --background-color-ul-menu: #000000;
    --white-color-for-words: #000000;
    --black-color-for-words: #ffffff;
    --white:#000000;
    --searchBorder-color: #ffffff;
}

