/* variables for sizes of the screen */
$min-desk-size: 1025px;

:root { 
    /* Variables for the colors */
    --bar-color: #572ee5;
    --purpleBlue-color-border:#572ee5;
    --purpleBlue-color-text:#572ee5;
    --green-words: #50E3C2;
    --background-color-ul-menu: rgba(87, 46, 229, 0.9);
    --white-color-for-words: #ffffff;
    --black-color-for-words: #000000;
    --white:#ffffff;
    --searchBorder-color: #572ee5;
    --background-TrendingGIFOS: #f3f5f8;
    --body-Background: #ffffff;
    --black-color-for-words-navbar: #000000;
}