:root {
    /* Variables for the colors */
    --bar-color: #000000;
    --purpleBlue-color-border:#000000;
    --purpleBlue-color-text:#ffffff;
    --green-words: #50E3C2;
    --background-color-ul-menu: #000000;
    --white-color-for-words: #ffffff;
    --black-color-for-words: #ffffff;
    --searchBorder-color: #ffffff;
    --background-TrendingGIFOS: #222326;
    --body-Background: #37383C;
    --black-color-for-words-navbar: #ffffff;
}