/* variables for sizes of the screen */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* Variables for the colors */
  --bar-color: #572ee5;
  --purpleBlue-color-border:#572ee5;
  --purpleBlue-color-text:#572ee5;
  --green-words: #50E3C2;
  --background-color-ul-menu: rgba(87, 46, 229, 0.9);
  --white-color-for-words: #ffffff;
  --black-color-for-words: #000000;
  --white:#ffffff;
  --searchBorder-color: #572ee5;
  --background-TrendingGIFOS: #f3f5f8;
  --body-Background: #ffffff;
  --black-color-for-words-navbar: #000000;
}

/* font-family: 'Montserrat', sans-serif; */
body {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--body-Background);
}

/***** MOBILE VERSION ******/
header {
  width: 100%;
  height: 95px;
  position: absolute;
  z-index: 5;
}

header #start-bar {
  height: 5px;
  background: var(--bar-color);
  margin-bottom: 12px;
}

/** **/
#logo {
  display: block;
  float: left;
  width: 52.8px;
  height: 52.8px;
  margin-top: 12.5px;
  margin-left: 16px;
}

#logo img {
  width: 100%;
  height: 100%;
}

/** **/
#burguer-icon {
  position: relative;
  width: 15px;
  height: 14px;
  float: right;
  top: 17px;
  right: 10px;
  padding: 18px 10px;
  cursor: pointer;
}

/** **/
#ul-menu {
  font-family: "Montserrat", sans-serif;
  clear: both;
  height: 0;
  margin-top: 90px;
  list-style: none;
  background: var(--background-color-ul-menu);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ul-menu #button-crea-gif {
  display: none;
}

#ul-menu li {
  text-align: center;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ul-menu li:nth-child(1) {
  margin-top: 12px;
}

#ul-menu li a {
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white-color-for-words);
  line-height: 60px;
  /*
      &:hover {
      }

      &:active {
      } */
}

#ul-menu li hr {
  width: 35px;
  margin-top: -7px;
}

/******************************************************************************/
/***** DESKTOP VERSION ******/
@media screen and (min-width: 1170px) {
  header #start-bar {
    margin-bottom: 0px;
  }
  /** **/
  #logo {
    width: 60.8px;
    height: 60.8px;
    margin-top: 12.5px;
    margin-left: 135px;
  }
  /** **/
  #burguer-icon {
    display: none;
  }
  /** **/
  #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /** **/
  #ul-menu {
    clear: both;
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-right: 140px;
    list-style: none;
    background: none;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #ul-menu #button-crea-gif {
    display: block;
    width: 54px;
    height: 54px;
    border: 1px solid var(--purpleBlue-color-border);
    border-radius: 30px;
    background: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #ul-menu #button-crea-gif a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #ul-menu #button-crea-gif a img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #ul-menu li {
    text-align: center;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #ul-menu li:nth-child(1) {
    margin-top: 0px;
  }
  #ul-menu li a {
    font-size: 14px;
    font-weight: 700;
    color: var(--purpleBlue-color-text);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
    /*
        &:hover {
        }
  
        &:active {
        } */
  }
  #ul-menu li hr {
    display: none;
  }
}

/***** MOBILE VERSION ******/
#cover-page {
  padding-top: 95px;
}

#cover-page h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  color: var(--purpleBlue-color-text);
  text-align: center;
  width: 76.3%;
  margin: 0 auto;
  margin-top: 2px;
}

#cover-page h2 span {
  color: var(--green-words);
}

#cover-page figure {
  width: 72.8%;
  max-width: 400px;
  height: 10.8%;
  margin: 0 auto;
  margin-top: 25px;
}

#cover-page figure img {
  width: 100%;
  height: 100%;
}

#cover-page .passive-styles input {
  display: block;
  margin: 0 auto;
  background: var(--body-Background);
  border: 1px solid var(--searchBorder-color);
  border-radius: 27px;
  width: 80%;
  max-width: 550px;
  height: 50px;
  padding-left: 30px;
}

#cover-page .passive-styles input::-webkit-input-placeholder {
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

#cover-page .passive-styles input:-ms-input-placeholder {
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

#cover-page .passive-styles input::-ms-input-placeholder {
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

#cover-page .passive-styles input::placeholder {
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

#cover-page .passive-styles #searchIcon {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 37px;
  margin-left: 82%;
  cursor: pointer;
}

#cover-page .passive-styles #recommendations {
  display: none;
}

.active-styles {
  margin: 0 auto;
  margin-top: 0px;
  background: var(--body-Background);
  border: 1px solid var(--searchBorder-color);
  border-radius: 27px;
  width: 80%;
  max-width: 550px;
}

.active-styles input {
  display: block;
  margin: 0 auto;
  background: var(--body-Background);
  border: none;
  border-bottom: 1px solid #a7a7a7;
  width: 80%;
  max-width: 550px;
  height: 50px;
  padding-left: 5px;
}

.active-styles input::-webkit-input-placeholder {
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.active-styles input:-ms-input-placeholder {
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.active-styles input::-ms-input-placeholder {
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.active-styles input::placeholder {
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.active-styles #searchIcon {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 37px;
  margin-left: 82%;
  cursor: pointer;
}

.active-styles #recommendations {
  margin: 0 auto;
  margin-top: -7px;
  width: 86%;
  max-width: 550px;
  color: #a7a7a7;
  display: block;
}

.active-styles #recommendations .suggestionCreated {
  margin: 20px;
  margin-left: 0px;
  cursor: pointer;
}

.active-styles #recommendations .suggestionCreated .searchIconGray {
  margin-right: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

/** **/
#trending {
  width: 62.9%;
  height: 6.2%;
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#trending h2 {
  color: var(--purpleBlue-color-text);
  font-size: 16px;
  font-weight: 700;
}

#trending ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
}

#trending ul li {
  margin-left: 5px;
}

#trending ul li a {
  text-decoration: none;
  color: var(--purpleBlue-color-text);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15;
}

/******************************************************************************/
/***** TABLET VERSION ******/
/* @media screen and (min-width: 670px) {
  #searchBox {
    #searchIcon {
      bottom: 37px;
      
      margin-left: 0px;
    }
  }
} */
/******************************************************************************/
/***** DESKTOP VERSION ******/
@media screen and (min-width: 1024px) {
  #cover-page {
    padding-top: 180px;
  }
  #cover-page h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    width: 40.9%;
  }
  #cover-page #searchBox input {
    width: 38.3%;
    max-width: 904px;
    height: 50px;
    position: relative;
    z-index: 5;
  }
  #cover-page #searchBox input::-webkit-input-placeholder {
    padding-left: 55px;
    font-size: 14px;
  }
  #cover-page #searchBox input:-ms-input-placeholder {
    padding-left: 55px;
    font-size: 14px;
  }
  #cover-page #searchBox input::-ms-input-placeholder {
    padding-left: 55px;
    font-size: 14px;
  }
  #cover-page #searchBox input::placeholder {
    padding-left: 55px;
    font-size: 14px;
  }
  #cover-page #searchBox #searchIcon {
    bottom: 37px;
    margin-left: 66%;
    z-index: 5;
  }
  /** **/
  #trending {
    width: 62.9%;
    height: 6.2%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }
  #trending h2 {
    font-size: 16px;
    font-weight: 700;
  }
  #trending ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: -15px;
  }
  #trending ul li {
    margin-left: 5px;
  }
  #trending ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16;
  }
}

#search-results hr {
  width: 157px;
  display: none;
  opacity: 0.5;
  border: 1px solid #9cafc3;
  margin-top: 35px;
  margin-bottom: 43px;
}

#search-results h2 {
  text-align: center;
  margin-bottom: 38px;
  font-size: 25px;
  font-weight: 600;
  color: var(--purpleBlue-color-text);
}

#search-results #search-results-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 156px 156px;
      grid-template-columns: 156px 156px;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#search-results #search-results-container .search-results-styles {
  width: 156px;
  height: 120px;
}

#search-results button {
  display: none;
  margin: 0 auto;
  margin-top: 78px;
  margin-bottom: 79px;
  width: 127px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--purpleBlue-color-text);
  background-color: var(--white-color-for-words);
  font-size: 13px;
  font-weight: bold;
  color: var(--purpleBlue-color-text);
  cursor: pointer;
}

/***** MOBILE VERSION ******/
#trendingGIFOS {
  background: var(--background-TrendingGIFOS);
  margin-top: 30px;
}

#trendingGIFOS h2 {
  text-align: center;
  color: var(--purpleBlue-color-text);
  padding-top: 30px;
}

#trendingGIFOS p {
  width: 88.8%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  color: var(--black-color-for-words);
}

#trendingGIFOS #trendings-results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

#trendingGIFOS #trendings-results-container .trending-results-styles {
  width: 243px;
  height: 187px;
  margin-left: 22px;
  margin-right: 22px;
}

/******************************************************************************/
/***** DESKTOP VERSION ******/
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
}

footer section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section article p {
  padding-top: 48px;
  color: var(--black-color-for-words);
}

footer section article #social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
  margin-top: 18px;
}

footer section #copyR {
  text-align: center;
  margin-top: 45px;
  color: var(--black-color-for-words);
}

footer section #copyR i {
  font-size: 12px;
}

footer #end-bar {
  height: 5px;
  background: var(--bar-color);
  margin-top: 30px;
}

/******************************************************************************/
/***** DESKTOP VERSION ******/
@media screen and (min-width: 1000px) {
  footer section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
  }
  footer section article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 11%;
  }
  footer section article p {
    padding-top: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--black-color-for-words);
    width: 80%;
    margin-right: 0px;
  }
  footer section article #social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80px;
    margin-top: 0px;
  }
  footer section #copyR {
    text-align: center;
    margin-top: 0px;
    margin-left: 50%;
    margin-right: 10%;
    color: var(--black-color-for-words);
  }
  footer section #copyR i {
    font-size: 12px;
  }
  footer #end-bar {
    height: 5px;
    background: var(--bar-color);
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */