/***** MOBILE VERSION ******/

#search-results {
    display: none;
    #separatorSearchResults {
        width: 157px;
        display: block;

        opacity: 0.5;
        border: 1px solid #9cafc3;

        margin-top: 35px;
        margin-bottom: 43px;
    }

    #searched-thing {
        text-align: center;
        line-height: 40px;

        margin-bottom: 38px;

        font-size: 25px;
        font-weight: 600;

        color: var(--purpleBlue-color-text);
    }

    #search-results-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 156px);
        grid-gap: 21px;
        justify-content: center;
        figure {
            .search-results-styles {
                width: 156px;
                height: 120px;
            }
        }
    }

    #ver-mas-btn {
        display: block;
        margin: 0 auto;

        margin-top: 78px;
        margin-bottom: 79px;

        width: 127px;
        height: 50px;

        border-radius: 25px;
        border: 1px solid var(--purpleBlue-color-text);

        background-color: transparent;

        font-size: 13px;
        font-weight: bold;
        color: var(--purpleBlue-color-text);

        cursor: pointer;
    }
}


/******************************************************************************/

/***** DESKTOP VERSION ******/
@media screen and (min-width: 1025px) {
    #search-results {
        display: none;
        #separatorSearchResults {
            width: 338px;

            margin-top: 55px;
            margin-bottom: 81.9px;
        }
    
        #searched-thing {
            text-align: center;

            margin-bottom: 60px;

            font-size: 35px;
            font-weight: 600;

            color: var(--purpleBlue-color-text);
        }
    
        #search-results-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 260px);
            grid-gap: 29px;
            justify-content: center;

            margin-left: 156px;
            margin-right: 157px;
            figure {
                .search-results-styles {
                    width: 260px;
                    height: 200px;
                }
            }
        }
    
        #ver-mas-btn {
            display: block;
            margin: 0 auto;
    
            margin-top: 78px;
            margin-bottom: 79px;
    
            width: 127px;
            height: 50px;
    
            border-radius: 25px;
            border: 1px solid var(--purpleBlue-color-text);
    
            background-color: transparent;
    
            font-size: 13px;
            font-weight: bold;
            color: var(--purpleBlue-color-text);
    
            cursor: pointer;
        }
    }
}