 #trendingGIFOS {
    background: #F3F5F8;
    height: 410px;

    margin-top: 45px;
    padding-top: 46px;
    

    h2 {
        font-size: 20px;
        font-weight: 700;
        color: var(--purpleBlue-color-text);
        text-align: center;
        line-height: 30px;
        
        margin-bottom: 7px;
    }

    #p-tag-trends {
        font-size: 16px;
        font-weight: 500;
        color: var(--black-color-for-words);
        text-align: center;
        line-height: 23px;
        
        width: 88.8%;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    #slider-container {
        #btn-slider-left{
            display: none;
        }

        #carousel-container {
        
            margin-left: 22px;
            overflow-x: auto;
            &::-webkit-scrollbar{
            width: 0;
            }
            

                #trending-results-container-GIFOS {
                    display: flex;
                    column-gap: 22px;
                    margin-left: 22px;
                    
                    
    
                    .figureTrendingContainer {
                        
                        width: 243px;
                        height: 187px;
                        
            
                        .search-resultsTrendingGifo-styles {
                            width: 243px;
                            height: 187px;
                        }
            
                        .modal-TrendingGifo-class {
                            display: none;
                            
                            position: relative;
                            z-index: 5;
                            top: -188px;
                            height: inherit;
                            .icons-section-hoverTrendingGifo {
                                .figure-icons-TrendingGifo {
                                    img {
            
                                    }
                                }
                            }
                        }
            
                        .caption-section-hoverTrendingGifo{
                            .userCaption-TrendingGifo {
            
                            }
                            .tituloCaption-TrendingGifo {
            
                            }
                        }
                    }
                }
        }
    
        
    
        #btn-slider-right {
            display: none;
        }
    }
    
}


 

/******************************************************************************/

/***** DESKTOP VERSION ******/
@media screen and (min-width: 1025px) {
    #trendingGIFOS {
        background: #F3F5F8;
        height: 430px;
    
        margin-top: 95px;
        padding-top: 67px;
        padding-bottom: 181px;
    
        h2 {
            font-size: 25px;
            font-weight: 700;
            color: var(--purpleBlue-color-text);
            text-align: center;
            line-height: 30px;
            
            margin-bottom: 7px;
        }
    
        #p-tag-trends {
            font-size: 18px;
            font-weight: 500;
            color: var(--black-color-for-words);
            text-align: center;
            line-height: 23px;
            
            width: 88.8%;
            margin: 0 auto;
            margin-bottom: 53px;
        }

        #slider-container {
            display: flex;
            align-content: center;
            height: 275px;

            #btn-slider-left{
                display: block;
                border: 1px solid  var(--purpleBlue-color-text);
                width: 40px;
                height: 40px;
                align-self: center;
                margin-left: 6.5%;
                cursor: pointer;

                &:hover {
                    background-color: var(--purpleBlue-color-text)
                }
            }
            
            #carousel-container {
                
                width: 79%;
                height: 275px;
                margin: 0 auto;
                border: 1px solid green;


                overflow-x: auto;
                &::-webkit-scrollbar{
                width: 0;
                }
            

                #trending-results-container-GIFOS {
                    
                    display: flex;
                
                    column-gap: 29px;
                    margin-left: 0px;
            
                    width: 100%;
                    height: 275px;
                    border: 1px solid red;
                   
                    
                    
            
                    .figureTrendingContainer {
                        
                        width: 357px;
                        height: 275px;
                        
            
                        .search-resultsTrendingGifo-styles {
                            width: 357px;
                            height: 275px;
                        }
            
                        .modal-TrendingGifo-class {
                            display: none;
                            opacity: 0.7;
                            background: #572ee5;
                            position: relative;
                            z-index: 5;
                            top: -275px;
                            height: inherit;
                            .icons-section-hoverTrendingGifo {
                                position: relative;
                                z-index: 10;
                                display: flex;
                                justify-content: flex-end; 
                                margin-right: 9px;
                                padding-top: 4px;
    
                                .figure-icons-TrendingGifo {
                                    opacity: 0.7;
                                    background: #ffffff;
                                    border-radius: 6px;
                                    border-radius: 6px;
                                    width: fit-content;
                    
                                    width: 32px;
                                    height: 32px;
                    
                                    display: flex;
                                    justify-content: center;
                    
                                    margin: 7px;
                                    cursor: pointer;
    
                                    &:hover {
                                        opacity: 1;
                                    }
                                }
                            }
                            .caption-section-hoverTrendingGifo{
                                position: relative;
                                z-index: 10;
                                top: 130px;
                        
                                margin-left: 18px;
                                .userCaption-TrendingGifo {
                                    margin-top: 5px;
                                    margin-bottom: 10px;
                                    font-size: 15px;
                                    color: #ffffff;
                                }
                                .tituloCaption-TrendingGifo {
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: #ffffff;
                                }
                            }
                        }
            
                        
                    }
                }
            }
            
        
            #btn-slider-right {
                display: block;
                border: 1px solid  var(--purpleBlue-color-text);
                width: 40px;
                height: 40px;
                align-self: center;
                margin-right: 6.4%;
                cursor: pointer;
                
                &:hover {
                    background-color: var(--purpleBlue-color-text)
                }
            }
        }
    } 
    
    
}