footer {
    #p-1 {
        font-size: 15px;
        color: var(--black-color-for-words);
        letter-spacing: 0;
        text-align: center;
        margin-top: 47px;
        font-weight: 500;
    }

    #social-networks {
        display: flex;
        justify-content: center;
        column-gap: 19px;
        margin-top: 24px;


        a {
            width: fit-content;
            cursor: pointer;
            
            img {
                
            }
        }
    }

    #p-2 {
        font-size: 14px;
        font-weight: 500;
        color:var(--black-color-for-words);
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
        margin-top: 46px;
        margin-bottom: 23px;
    }
}



/******************************************************************************/

/***** DESKTOP VERSION ******/
@media screen and (min-width: 1025px) { 
    footer {
        #p-1 {
            font-size: 15px;
            color: var(--black-color-for-words);
            letter-spacing: 0;
            text-align: center;
            margin-top: 47px;
            font-weight: 500;
        }
    
        #social-networks {
            display: flex;
            justify-content: center;
            column-gap: 19px;
            margin-top: 24px;
    
    
            a {
                width: fit-content;
                cursor: pointer;
                
                img {
                    
                }
            }
        }
    
        #p-2 {
            font-size: 14px;
            font-weight: 500;
            color:var(--black-color-for-words);
            letter-spacing: 0;
            line-height: 20px;
            text-align: center;
            margin-top: 46px;
            margin-bottom: 23px;
        }
    }
}